.unauthorized{
    color: #777777;
    font-size: 17px;
    display: table;
    margin: 0 auto;
}

.auth-img{
    display: table;
    margin: 0 auto;
    margin-top: 50px;
}

.timer{
    font-size: 12.5px !important;
}

.auth-body {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }