.oopsText{
    display: table;
    margin: 0 auto;
    font-size: 40px
   }
   
   .login-here-text{
       display: table;
       margin: 0 auto;
   }
   .here{
       color: #ff6869 !important;
       cursor: pointer;
   }
   
   .here:hover{
       color: #F82425;
   }
   
   .auth{
       color: #777777;
   }